<%= erb(:contact_form) %>

<div class="contacts">
  <% if @contacts.any? %>
    <table>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Pings</th>
        <th></th>
      </tr>
      <% for contact in @contacts %>
      <tr>
        <td><a href="/contact/<%= contact.id %>"><%= contact.name %></a></td>
        <td><a href="tel:<%= contact.phone %>"><%= contact.phone %></a></td>
        <td><%= contact.pings %></td>
        <td><a href="/contact/<%= contact.id %>" class="delete">Delete contact</a></td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>No contacts yet.</p>
  <% end %>
</div>
