<p>
  <label for="name">Name</label>
  <span class="field">
    <input name="name" type="text" id="name" value="<%= story.name %>">
  </span>
</p>
<p>
  <label for="text">Beginning</label>
  <span class="field">
    <textarea name="text" id="text"><%= story.text %></textarea>
  </span>
</p>
<p>
  <label for="phone">Phone</label>
  <span class="field">
    <input name="phone" type="tel" id="phone" value="<%= story.phone ||= ENV['DEFAULT_PHONE'] %>">
  </span>
</p>
<p>
  <label for="queued">Queued</label>
  <span class="field">
    <input name="queued" type="number" id="queued" value="<%= story.queued ||= ENV['DEFAULT_QUEUED'] %>">
    secs
  </span>
</p>
<p>
  <label for="ringing">Ringing</label>
  <span class="field">
    <input name="ringing" type="number" id="ringing" value="<%= story.ringing ||= ENV['DEFAULT_RINGING'] %>">
    secs
  </span>
</p>
<p>
  <label for="in_progress">In progress</label>
  <span class="field">
    <input name="in_progress" type="number" id="in_progress" value="<%= story.in_progress ||= ENV['DEFAULT_IN_PROGRESS'] %>">
    secs
  </span>
</p>
<p>
  <label for="length">Length</label>
  <span class="field">
    <input name="length" type="number" id="length" value="<%= story.length ||= ENV['DEFAULT_LENGTH'] %>">
    posts
  </span>
</p>
<hr>
<p>
  <span class="buttons">
    <input type="submit" value="Save story">
    <a href="<%= @from %>" class="secondary">Cancel</a>
  </span>
</p>
