<div class="fields">
  <label for="name">Name</label>
  <span class="inputs">
    <input name="name" type="text" id="name" value="<%= story.name %>">
  </span>
</div>
<div class="fields">
  <label for="text">Beginning</label>
  <span class="inputs">
    <textarea name="text" id="text"><%= story.text %></textarea>
  </span>
</div>
<div class="fields">
  <label for="phone">Phone</label>
  <span class="inputs">
    <input name="phone" type="tel" id="phone" value="<%= story.phone ||= ENV['DEFAULT_PHONE'] %>">
  </span>
</div>
<div class="fields">
  <label for="queued">Queued</label>
  <p class="inputs">
    <input name="queued" type="number" id="queued" value="<%= story.queued ||= ENV['DEFAULT_QUEUED'] %>">
    secs
  </p>
</div>
<div class="fields">
  <label for="ringing">Ringing</label>
  <p class="inputs">
    <input name="ringing" type="number" id="ringing" value="<%= story.ringing ||= ENV['DEFAULT_RINGING'] %>">
    secs
  </p>
</div>
<div class="fields">
  <label for="in_progress">In progress</label>
  <p class="inputs">
    <input name="in_progress" type="number" id="in_progress" value="<%= story.in_progress ||= ENV['DEFAULT_IN_PROGRESS'] %>">
    secs
  </p>
</div>
<div class="fields">
  <label for="calls">Call queue</label>
  <span class="inputs">
    <ol class="list">
      <% if @calls.any? %>
        <% for call in @calls do %>
          <li>
            <select name="contacts_ids[]">
              <option value="">Select contact…</option>
              <option value="0" <%= "selected=selected" if call.contact_id == 0 %>>💥 Random contact</option>
              <% for contact in @contacts %>
                <option value="<%= contact.id %>" <%= "selected=selected" if contact.id == call.contact_id %>>
                  📞 <%= contact.name %> (<%= contact.rings %>)
                </option>
              <% end %>
            </select>
            <input name="calls_ids[]" type="hidden" value="<%= call.id %>">
            <ul class="actions">
              <li><a href="javascript:void(0);" class="add">Add</a></li>
              <li><a href="javascript:void(0);" class="delete">Delete</a></li>
            </ul>
          </li>
        <% end %>
      <% else %>
        <li>
          <select name="contacts_ids[]">
            <option value="" selected="selected">Select contact…</option>
            <option value="0">💥 Random contact</option>
            <% for contact in @contacts %>
              <option value="<%= contact.id %>">
                📞 <%= contact.name %> (<%= contact.rings %>)
              </option>
            <% end %>
          </select>
          <input name="calls_ids[]" type="hidden" value="">
          <ul class="actions">
            <li><a href="javascript:void(0);" class="add">Add</a></li>
            <li><a href="javascript:void(0);" class="delete">Delete</a></li>
          </ul>
        </li>
      <% end %>
    </ol>
  </span>
</div>
<hr>
<div class="fields">
  <ul class="buttons">
    <li><input type="submit" value="Save story"></li>
    <li><a href="<%= @from %>" class="secondary">Cancel</a></li>
  </ul>
</div>
