<header>
  <%= erb(:'nav') %>
  <a href="/stories/new?from=/stories" class="primary">New story</a>
</header>

<main>
  <% if @stories.any? %>
    <table>
      <tr>
        <th>Name</th>
        <th>Beginning</th>
        <th>Size</th>
        <th></th>
      </tr>
      <% for story in @stories %>
      <tr>
        <td><a href="/stories/<%= story.id %>"><%= story.name %></a></td>
        <td><%= story.text %></td>
        <td><%= story.size %> posts</td>
        <td>
          <menu>
            <ul>
              <li><a href="/stories/<%= story.id %>/edit?from=/stories">Edit</a></li>
              <li><a href="/stories/<%= story.id %>" class="delete">Delete</a></li>
            </ul>
          </menu>
        </td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>No stories yet.</p>
  <% end %>
</main>
