<header class="header">
  <%= erb(:'nav') %>
  <a href="/stories/new?from=/stories" class="primary">New story</a>
</header>

<main class="main">
  <% if @stories.any? %>
    <table>
      <tr>
        <th>Name</th>
        <th>Beginning</th>
        <th></th>
      </tr>
      <% for story in @stories %>
      <tr>
        <td><a href="/stories/<%= story.id %>"><%= story.name %></a></td>
        <td><%= story.text %></td>
        <td>
          <ul class="actions">
            <li><a href="/stories/<%= story.id %>/edit?from=/stories" class="edit">Edit</a></li>
            <li><a href="/stories/<%= story.id %>" class="delete">Delete</a></li>
          </ul>
        </td>
      </tr>
      <% end %>
    </table>
  <% end %>
</main>
