<header class="header">
  <%= erb(:'nav') %>
  <a href="/stories/<%= @story.id %>/dial" class="primary">Dial story</a>
</header>

<main class="main">
  <h1>
    <%= @story.name %>
    <a href="/stories/<%= @story.id %>/edit?from=/stories/<%= @story.id %>">Edit</a>
  </h1>

  <p><%= @story.text %></p>

  <% if @calls.any? %>
    <table>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Status</th>
        <th>Duration</th>
        <th>Transcript</th>
        <th>Recording</th>
        <th></th>
      </tr>
      <% @calls.each_with_index do |call, i| %>
        <tr>
          <td>
            <%= i + 1 %>
          </td>
          <td>
            📞 <%= call.contact.name %> (<%= call.contact.rings %>)
          </td>
          <td>
            <% if call.status %>
              <%= call.status.capitalize %>
            <% else %>
              n/a
            <% end %>
          </td>
          <td>
            <% if call.duration %>
              <%= Time.at(call.duration).utc.strftime("%M:%S") %>
            <% else %>
              n/a
            <% end %>
          </td>
          <td>
            <% if call.transcript %>
              <%= call.transcript %>
            <% else %>
              n/a
            <% end %>
          </td>
          <td>
            <% if call.recording %>
              <a href="<%= call.recording %>" class="recording" data-recording>Play</a>
            <% else %>
              n/a
            <% end %>
          </td>
          <td>
            <ul class="actions">
              <li><a href="/call/<%= call.id %>" class="delete">Delete</a></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</main>

<script src="/faye/client.js" charset="utf-8"></script>
<script type="text/javascript">
  const client = new Faye.Client("<%= ENV['APP_URL'] %>/faye");
  const subscription = client.subscribe(window.location.pathname, function() {
    location.reload();
  });
  subscription.then(function() {
    console.log("Subscribed to " + window.location.pathname);
  });
</script>
