<header class="header">
  <%= erb(:'nav') %>

  <% unless @story.status == 'closed' %>
    <ul class="buttons">
      <li><a href="/stories/<%= @story.id %>/dial" class="primary">Dial story</a></li>
      <!-- <li><a href="/stories/<%=# @story.id %>/sms" class="secondary">Send story</a></li> -->
    </ul>
  <% end %>
</header>

<main class="main">
  <h1>
    <%= @story.title %>
    <a href="/stories/<%= @story.id %>/edit?from=/stories/<%= @story.id %>">Edit</a>
  </h1>

  <p><%= @story.text %></p>

  <% if @calls.any? %>
    <table>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Status</th>
        <th>Duration</th>
        <th>Transcript</th>
        <th>Recording</th>
        <% unless @story.status == 'closed' %>
          <th></th>
        <% end %>
      </tr>
      <% @calls.each_with_index do |call, i| %>
        <tr>
          <td>
            <%= i + 1 %>
          </td>
          <td>
            📞 <a href="/contacts/<%= call.contact.id %>/edit?from=/stories/<%= @story.id %>">
              <%= call.contact.name %>
            </a>
            (<%= call.contact.rings %>)
          </td>
          <td>
            <% if call.status %>
              <%= call.status.capitalize %>
            <% else %>
              n/a
            <% end %>
          </td>
          <td>
            <% if call.duration %>
              <%= Time.at(call.duration).utc.strftime("%M:%S") %>
            <% else %>
              n/a
            <% end %>
          </td>
          <td>
            <% if call.transcript %>
              <%= call.transcript.slice(0,1).capitalize + call.transcript.slice(1..-1) %>
            <% else %>
              n/a
            <% end %>
          </td>
          <td>
            <% if call.recording %>
              <a href="<%= call.recording %>" class="recording" data-recording>Play</a>
            <% else %>
              n/a
            <% end %>
          </td>
          <% unless @story.status == 'closed' %>
            <td align="right">
              <ul class="actions">
                <li><a href="/call/<%= call.id %>" class="delete">Delete</a></li>
              </ul>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
</main>

<script src="/faye/client.js" charset="utf-8"></script>
<script type="text/javascript">
  const client = new Faye.Client("<%= ENV['APP_URL'] %>/faye");
  const subscription = client.subscribe(window.location.pathname, function() {
    location.reload();
  });
  subscription.then(function() {
    console.log("Subscribed to " + window.location.pathname);
  });
</script>
