<header class="header">
  <%= erb(:'nav') %>

  <ul class="buttons">
    <% if @story.status == 'continued' && @story.calls.any? %>
      <li><a href="/stories/<%= @story.id %>/dial" class="dial primary">Dial story</a></li>
    <% end %>
    <li><a href="/stories/<%= @story.id %>/edit?from=/stories/<%= @story.id %>" class="secondary">Edit</a></li>
    <% if @story.status == 'continued' %>
      <li><a href="/stories/<%= @story.id %>/finish" class="secondary">Finish</a></li>
    <% end %>
  </ul>
</header>

<main class="main">
  <div class="story">
    <h1>
      <%= @story.title %>
    </h1>

    <p>
      <%= @story.text %>
    </p>
  </div>

  <% if @calls.any? %>
    <% if @story.status == 'continued' %>
      <table>
        <tr>
          <th width="2%">No</th>
          <th width="20%">Name</th>
          <th width="10%">Status</th>
          <th width="46%">Transcript</th>
          <th width="4%">Duration</th>
          <th width="4%">Recording</th>
          <th width="14%"></th>
        </tr>
        <% @calls.each_with_index do |call, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><a href="/contacts/<%= call.contact.id %>/edit?from=/stories/<%= @story.id %>"> <%= call.contact.name %></a> (<%= call.contact.rings %>)</td>
            <td><% if call.status %><%= call.status.capitalize %><% else %>n/a<% end %></td>
            <td><% if call.transcript %><%= call.transcript.slice(0,1).capitalize + call.transcript.slice(1..-1) %><% else %>n/a<% end %></td>
            <td><% if call.duration %><%= Time.at(call.duration).utc.strftime("%M:%S") %><% else %>n/a<% end %></td>
            <td><% if call.recording %><a href="<%= call.recording %>" class="recording" data-recording>Play</a><% else %>n/a<% end %></td>
            <td align="right"><ul class="actions"><li><a href="/call/<%= call.id %>" class="delete">Delete</a></li></ul></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <table>
        <% if @calls.exclude(transcript: nil).all.any? %>
          <tr>
            <th width="2%">No</th>
            <th width="20%">Name</th>
            <th width="10%">Status</th>
            <th width="46%">Transcript</th>
            <th width="4%">Duration</th>
            <th width="4%">Recording</th>
            <% if @story.result %><th width="14%"></th><% end %>
          </tr>
        <% end %>
        <% @calls.each_with_index do |call, i| %>
          <% if call.transcript %>
            <tr>
              <td><%= i + 1 %></td>
              <td><a href="/contacts/<%= call.contact.id %>/edit?from=/stories/<%= @story.id %>"> <%= call.contact.name %></a> (<%= call.contact.rings %>)</td>
              <td><% if call.status %><%= call.status.capitalize %><% else %>n/a<% end %></td>
              <td><% if call.transcript %><%= call.transcript.slice(0,1).capitalize + call.transcript.slice(1..-1) %><% else %>n/a<% end %></td>
              <td><% if call.duration %><%= Time.at(call.duration).utc.strftime("%M:%S") %><% else %>n/a<% end %></td>
              <td><% if call.recording %><a href="<%= call.recording %>" class="recording" data-recording>Play</a><% else %>n/a<% end %></td>
              <% if @story.result %><td align="right"><ul class="actions"><li><a href="sms:<%= call.contact.phone %>&body=<%= @story.result %>">Send SMS</a></li></ul></td><% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>
  <% end %>
</main>

<script src="/faye/client.js" charset="utf-8"></script>
<script type="text/javascript">
  const client = new Faye.Client("<%= ENV['APP_URL'] %>/faye");
  const subscription = client.subscribe(window.location.pathname, function() {
    location.reload();
  });
  subscription.then(function() {
    console.log("Subscribed to " + window.location.pathname);
  });
</script>
