<header>
  <%= erb(:'nav') %>
  <a href="/stories/<%= @story.id %>/dial" class="primary">Dial story</a>
</header>

<main>
  <h1>
    <%= @story.name %>
    <a href="/stories/<%= @story.id %>/edit?from=/stories/<%= @story.id %>">Edit</a>
  </h1>
  <p><%= @story.beginning %></p>
</main>
