<header class="header">
  <%= erb(:'nav') %>
  <a href="/contacts/new" class="primary">New contact</a>
</header>

<main class="main">
  <% if @contacts.any? %>
    <table>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Rings</th>
        <th></th>
      </tr>
      <% for contact in @contacts %>
      <tr>
        <td><%= contact.name %></td>
        <td><a href="tel:<%= contact.phone %>" class="phone"><%= contact.phone %></a></td>
        <td><%= contact.rings %></td>
        <td>
          <ul class="actions">
            <li><a href="/contacts/<%= contact.id %>/edit" class="edit">Edit</a></li>
            <li><a href="/contacts/<%= contact.id %>" class="delete">Delete</a></li>
          </ul>
        </td>
      </tr>
      <% end %>
    </table>
  <% end %>
</main>
