<form method="post" action="/contacts">
  <%= erb(:'contacts/form', :locals => {:contact => @contact}) %>
</form>

<div class="contacts">
  <% if @contacts.any? %>
    <table>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Pings</th>
        <th></th>
      </tr>
      <% for contact in @contacts %>
      <tr>
        <td><%= contact.name %></td>
        <td><a href="tel:<%= contact.phone %>"><%= contact.phone %></a></td>
        <td><%= contact.pings %></td>
        <td>
          <menu>
            <ul>
              <li><a href="/contacts/<%= contact.id %>/edit">Edit</a></li>
              <li><a href="/contacts/<%= contact.id %>" class="delete">Delete</a></li>
            </ul>
          </menu>
        </td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>No contacts yet.</p>
  <% end %>
</div>
