<div class="header">
  <%= erb(:'nav') %>
  <a href="/contacts/new" class="primary">New contact</a>
</div>

<div class="main">
  <% if @contacts.any? %>
    <table>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Rings</th>
        <th></th>
      </tr>
      <% for contact in @contacts %>
      <tr>
        <td><%= contact.name %></td>
        <td><a href="tel:<%= contact.phone %>" class="phone"><%= contact.phone %></a></td>
        <td><%= contact.rings %></td>
        <td>
          <span class="menu">
            <a href="/contacts/<%= contact.id %>/edit" class="edit">Edit</a>
            <a href="/contacts/<%= contact.id %>" class="delete">Delete</a>
          </span>
        </td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>No contacts yet.</p>
  <% end %>
</div>
